/* General styles + browser resets */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  font-size:14px;
  color:white;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

nav {
  width: 100%;
  display: block;
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  box-sizing: border-box;
  height:43px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
  padding: 12px;
}

nav ul li a, nav span {
  transition: 0.15s color ease-in-out;
}

nav ul li a:hover, nav span:hover {
  cursor: pointer;
  color: white;
}

.acronym {
  margin-left: 17px;
}

.top-left {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  padding: 12px;
}

.top-links {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.clearfix {
  clear:both;
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1.25em;
  width: 80%;
}

section {
  width: 100%;
  position: relative;
}

/* Navbar and header */

#header {
  width: 100%;
  box-sizing: border-box;
}

.left, .right {
  display: block;
  width: 10%;
  height: 90px;
  float: left;
}

.middle {
  display: block;
  width: 80%;
  height: 90px;
  float: left;
}

#header .left #npm-logo {
  float: left;
  width: 124px;
  margin: 20px;
}

#header .middle #search input{
  width: calc(100% - 75px);
  color: white;
  float: left;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  padding-left: 1em;
  font-size: 16px;
  height: 46px;
  margin: 20px auto;
  /* bwa1hamxnz - cat stepped on keyboard. keeping this as reminder */
}

#header .lupa {
  float: left;
  width: 46px;
  padding: 13px;
  color: white;
  background-color: rgba(0,0,0,0.1);
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-left: none;
}

#header .lupa:hover {
  cursor: pointer;
}

#header .right {
  position: relative;
}

#header .right span {
  font-size: 16px;
  position: absolute;
  top: 32px;
}

#header .right #bear {
  position: absolute;
  width: 42px;
  top: 23px;
  right: 20px;
}

#header .right a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  transition: 0.15s linear color;
}

#header .right a:hover {
  color: white;
}

/* Start of Build amazing things */

#build {
  background-color: #1D4E69;
  background-image: url('../images/city-scape.svg');
  height: 444px;
}

#build #texts h1 {
  font-size:48px;
  font-weight:lighter;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#build #texts p {
  font-size: 18px;
  max-width: 560px;
  display: block;
  width: 100%;
}

#npmorg {
  background-color: #273547;
  height:444px;
}
